<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Municipio</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Lista de Municipio"/></h1>
                <h:dataTable value="#{municipioBean.items}" var="item">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="IdMunicipio"/>
                        </f:facet>
                        <h:outputText value="#{item.idMunicipio}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="NombreMun"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreMun}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="IdDepartamento"/>
                        </f:facet>
                        <h:outputText value="#{item.idDepartamento}"/>
                    </h:column>
                </h:dataTable>
            </h:form>


            <h:form>
                <h1><h:outputText value="Create Municipio"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="IdMunicipio:" for="idMunicipio" />
                    <h:inputText id="idMunicipio" value="#{MunicipioBean.actual.idMunicipio}" title="IdMunicipio" required="true" requiredMessage="The IdMunicipio field is required."/>
                    <h:outputLabel value="NombreMun:" for="nombreMun" />
                    <h:inputText id="nombreMun" value="#{MunicipioBean.actual.nombreMun}" title="NombreMun" required="true" requiredMessage="The NombreMun field is required."/>
                    <h:outputLabel value="IdDepartamento:" for="idDepartamento" />
                    <h:selectOneMenu id="idDepartamento" value="#{MunicipioBean.actual.idDepartamento}" title="IdDepartamento" required="true" requiredMessage="The IdDepartamento field is required.">
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItems value="#{fixme}"/>
                    </h:selectOneMenu>
                    <h:commandButton value="Agregar" action="#{MunicipioBean.crearMunicipio}"/>
                </h:panelGrid>
            </h:form>

        </f:view>

    </h:body>
</html>

