<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Crear Bodega</title>
    </h:head>
    <h:body>
        <f:view>
 <h:form>
                <h1><h:outputText value="Create Bodega"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="IdBodega:" for="idBodega" />
                    <h:inputText id="idBodega" value="#{bodegaBean.actual.idBodega}" title="IdBodega" required="true" requiredMessage="The IdBodega field is required."/>
                    <h:outputLabel value="CodigoBod:" for="codigoBod" />
                    <h:inputText id="codigoBod" value="#{bodegaBean.actual.codigoBod}" title="CodigoBod" required="true" requiredMessage="The CodigoBod field is required."/>
                    <h:outputLabel value="NombreBod:" for="nombreBod" />
                    <h:inputText id="nombreBod" value="#{bodegaBean.actual.nombreBod}" title="NombreBod" required="true" requiredMessage="The NombreBod field is required."/>
                    <h:outputLabel value="UbicacionBod:" for="ubicacionBod" />
                    <h:inputText id="ubicacionBod" value="#{bodegaBean.actual.ubicacionBod}" title="UbicacionBod" required="true" requiredMessage="The UbicacionBod field is required."/>
                    <h:outputLabel value="FechaCreacionBod:" for="fechaCreacionBod" />
                    <h:inputText id="fechaCreacionBod" value="#{bodegaBean.actual.fechaCreacionBod}" title="FechaCreacionBod" required="true" requiredMessage="The FechaCreacionBod field is required.">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="UsuarioCreacionBod:" for="usuarioCreacionBod" />
                    <h:inputText id="usuarioCreacionBod" value="#{bodegaBean.actual.usuarioCreacionBod}" title="UsuarioCreacionBod" required="true" requiredMessage="The UsuarioCreacionBod field is required."/>
                    <h:outputLabel value="FechaModificacionBod:" for="fechaModificacionBod" />
                    <h:inputText id="fechaModificacionBod" value="#{bodegaBean.actual.fechaModificacionBod}" title="FechaModificacionBod" required="true" requiredMessage="The FechaModificacionBod field is required.">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="UsuModificacionBod:" for="usuModificacionBod" />
                    <h:inputText id="usuModificacionBod" value="#{bodegaBean.actual.usuModificacionBod}" title="UsuModificacionBod" required="true" requiredMessage="The UsuModificacionBod field is required."/>
                </h:panelGrid>
                <h:outputText value=""/>
               <h:commandButton value="Modificar" action="#{BodegaBean.modificarBodega()}"/>
            </h:form>
        </f:view>

    </h:body>
</html>

