<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Bodega</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Lista de Bodega"/></h1>
                <h:dataTable value="#{bodegaBean.items}" var="item">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="IdBodega"/>
                        </f:facet>
                        <h:outputText value="#{item.idBodega}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="CodigoBod"/>
                        </f:facet>
                        <h:outputText value="#{item.codigoBod}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="NombreBod"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreBod}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="UbicacionBod"/>
                        </f:facet>
                        <h:outputText value="#{item.ubicacionBod}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="FechaCreacionBod"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaCreacionBod}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="UsuarioCreacionBod"/>
                        </f:facet>
                        <h:outputText value="#{item.usuarioCreacionBod}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="FechaModificacionBod"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaModificacionBod}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="UsuModificacionBod"/>
                        </f:facet>
                        <h:outputText value="#{item.usuModificacionBod}"/>
                    </h:column>
                    <h:column>
 <f:facet name="header">
 <h:outputText value=""/>
 </f:facet>
 <h:commandLink value="Editar" action="#{BodegaBean.prepararEdicion(item)}"/>
</h:column>
 <h:column>
 <f:facet name="header">
 <h:outputText value=""/>
 </f:facet>
 <h:commandLink value="Borrar"
 action="#{BodegaBean.eliminar(item.idBodega)}"/>
</h:column>
                </h:dataTable>
            </h:form>


            <h:form>
                <h1><h:outputText value="Create Bodega"/></h1>
                <h:panelGrid columns="2">
                   
                    <h:outputLabel value="CodigoBod:" for="codigoBod" />
                    <h:inputText id="codigoBod" value="#{BodegaBean.items.codigoBod}" title="CodigoBod" required="true" requiredMessage="The CodigoBod field is required."/>
                    <h:outputLabel value="NombreBod:" for="nombreBod" />
                    <h:inputText id="nombreBod" value="#{BodegaBean.items.nombreBod}" title="NombreBod" required="true" requiredMessage="The NombreBod field is required."/>
                    <h:outputLabel value="UbicacionBod:" for="ubicacionBod" />
                    <h:inputText id="ubicacionBod" value="#{BodegaBean.items.ubicacionBod}" title="UbicacionBod" required="true" requiredMessage="The UbicacionBod field is required."/>
                    <h:outputLabel value="FechaCreacionBod:" for="fechaCreacionBod" />
                    <h:inputText id="fechaCreacionBod" value="#{BodegaBean.items.fechaCreacionBod}" title="FechaCreacionBod" required="true" requiredMessage="The FechaCreacionBod field is required.">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="UsuarioCreacionBod:" for="usuarioCreacionBod" />
                    <h:inputText id="usuarioCreacionBod" value="#{BodegaBean.items.usuarioCreacionBod}" title="UsuarioCreacionBod" required="true" requiredMessage="The UsuarioCreacionBod field is required."/>
                    <h:outputLabel value="FechaModificacionBod:" for="fechaModificacionBod" />
                    <h:inputText id="fechaModificacionBod" value="#{BodegaBean.items.fechaModificacionBod}" title="FechaModificacionBod" required="true" requiredMessage="The FechaModificacionBod field is required.">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="UsuModificacionBod:" for="usuModificacionBod" />
                    <h:inputText id="usuModificacionBod" value="#{BodegaBean.items.usuModificacionBod}" title="UsuModificacionBod" required="true" requiredMessage="The UsuModificacionBod field is required."/>
                    <h:commandButton value="Agregar" action="#{BodegaBean.crearBodega}"/>
                </h:panelGrid>
            </h:form>

        </f:view>

    </h:body>
</html>

