<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Departamento</title>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <h1><h:outputText value="Lista de Departamentos"/></h1>
                <h:dataTable value="#{departamentoBean.items}" var="item">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="IdDepartamento"/>
                        </f:facet>
                        <h:outputText value="#{item.idDepartamento}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="NombreDepartamento"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreDepartamento}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="IdPais"/>
                        </f:facet>
                        <h:outputText value="#{item.idPais}"/>
                    </h:column>
                </h:dataTable>
            </h:form>


            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="IdDepartamento:" for="idDepartamento" />
                    <h:inputText id="idDepartamento" value="#{departamentoBean.actual.idDepartamento}" title="IdDepartamento" required="true" requiredMessage="The IdDepartamento field is required."/>
                    <h:outputLabel value="NombreDepartamento:" for="nombreDepartamento" />
                    <h:inputText id="nombreDepartamento" value="#{departamentoBean.actual.nombreDepartamento}" title="NombreDepartamento" />
                    <h:outputLabel value="IdPais:" for="idPais" />
                    <h:selectOneMenu id="idPais" value="#{departamentoBean.actual.idPais}" title="IdPais" required="true" requiredMessage="The IdPais field is required.">
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItems value="#{fixme}"/>
                    </h:selectOneMenu>
                    <h:commandButton value="Agregar" action="#{departamentoBean.crearDepartamento}"/>
                </h:panelGrid>
            </h:form>

        </f:view>

    </h:body>
</html>

