<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Editar Categoría</title>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <h1><h:outputText value="Editar categor&iacute;a"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="IdCategoria:" for="idCategoria" />
                    <h:inputText id="idCategoria" disabled="true" value="#{categoriaBean.actual.idCategoria}" title="IdCategoria" required="true" requiredMessage="The IdCategoria field is required."/>
                    <h:outputLabel value="CodigoCat:" for="codigoCat" />
                    <h:inputText id="codigoCat" value="#{categoriaBean.actual.codigoCat}" title="CodigoCat" required="true" requiredMessage="The CodigoCat field is required."/>
                    <h:outputLabel value="NombreCat:" for="nombreCat" />
                    <h:inputText id="nombreCat" value="#{categoriaBean.actual.nombreCat}" title="NombreCat" required="true" requiredMessage="The NombreCat field is required."/>
                    <h:outputLabel value="UsuarioCreacionCat:" for="usuarioCreacionCat" />
                    <h:inputText id="usuarioCreacionCat" value="#{categoriaBean.actual.usuarioCreacionCat}" title="UsuarioCreacionCat" required="true" requiredMessage="The UsuarioCreacionCat field is required."/>
                    <h:outputLabel value="UsuModificacionCat:" for="usuModificacionCat" />
                    <h:inputText id="usuModificacionCat" value="#{categoriaBean.actual.usuModificacionCat}" title="UsuModificacionCat" required="true" requiredMessage="The UsuModificacionCat field is required."/>
                </h:panelGrid> 
                    <h:commandButton value="Modificar" action="#{categoriaBean.modificarCategoria()}"/>
            </h:form>
        </f:view>

    </h:body>
</html>

