<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Categorias</title>
    </h:head>
    <h:body>
        <f:view>
            <h:form>
                <h1><h:outputText value="Lista de Categor&iacute;a"/></h1>
                <h:dataTable value="#{categoriaBean.items}" var="item">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="IdCategoria"/>
                        </f:facet>
                        <h:outputText value="#{item.idCategoria}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="CodigoCat"/>
                        </f:facet>
                        <h:outputText value="#{item.codigoCat}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="NombreCat"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreCat}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="FechaCreacionCat"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaCreacionCat}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="UsuarioCreacionCat"/>
                        </f:facet>
                        <h:outputText value="#{item.usuarioCreacionCat}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="FechaModificacionCat"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaModificacionCat}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="UsuModificacionCat"/>
                        </f:facet>
                        <h:outputText value="#{item.usuModificacionCat}"/>
                   
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                             <h:outputText value=""/>
                         </f:facet>
                    <h:commandLink value="Editar" action="#{categoriaBean.prepararEdicion(item)}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value=""/>
                        </f:facet>
                    <h:commandLink value="Borrar"
                        action="#{categoriaBean.eliminar(item.idCategoria)}"/>
                    </h:column>
                </h:dataTable>
            </h:form>
            <h:form>
                <h1><h:outputText value="Create Categor&iacute;a"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Codigo:" for="codigoCat" />
                    <h:inputText id="codigoCat" value="#{categoriaBean.actual.codigoCat}" title="CodigoCat" required="true" requiredMessage="The CodigoCat field is required."/>
                    <h:outputLabel value="Nombre: " for="nombreCat" />
                    <h:inputText id="nombreCat" value="#{categoriaBean.actual.nombreCat}" title="NombreCat" required="true" requiredMessage="The NombreCat field is required."/>
                    <h:outputLabel value="Usuario Creacion :" for="usuarioCreacionCat" />
                    <h:inputText id="usuarioCreacionCat" value="#{categoriaBean.actual.usuarioCreacionCat}" title="UsuarioCreacionCat" required="true" requiredMessage="The UsuarioCreacionCat field is required."/>
                    <h:outputLabel value="Usuario Modificacion:" for="usuModificacionCat" />
                    <h:inputText id="usuModificacionCat" value="#{categoriaBean.actual.usuModificacionCat}" title="UsuModificacionCat" required="true" requiredMessage="The UsuModificacionCat field is required."/>
                    <h:commandButton value="Agregar" action="#{categoriaBean.crearCategoria}"/>
                    
                </h:panelGrid>
            </h:form>
        </f:view>
    </h:body>
</html>

