<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Editar Proveedor</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Editar Proveedor"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="IdProveedor:" for="idProveedor" />
                    <h:inputText id="idProveedor" value="#{proveedorBean.actual.idProveedor}" title="IdProveedor" required="true" requiredMessage="The IdProveedor field is required."/>
                    <h:outputLabel value="CodigoPrv:" for="codigoPrv" />
                    <h:inputText id="codigoPrv" value="#{proveedorBean.actual.codigoPrv}" title="CodigoPrv" required="true" requiredMessage="The CodigoPrv field is required."/>
                    <h:outputLabel value="NombrePrv:" for="nombrePrv" />
                    <h:inputText id="nombrePrv" value="#{proveedorBean.actual.nombrePrv}" title="NombrePrv" required="true" requiredMessage="The NombrePrv field is required."/>
                    <h:outputLabel value="DireccionPrv:" for="direccionPrv" />
                    <h:inputText id="direccionPrv" value="#{proveedorBean.actual.direccionPrv}" title="DireccionPrv" required="true" requiredMessage="The DireccionPrv field is required."/>
                    <h:outputLabel value="TelefonoPrv:" for="telefonoPrv" />
                    <h:inputText id="telefonoPrv" value="#{proveedorBean.actual.telefonoPrv}" title="TelefonoPrv" required="true" requiredMessage="The TelefonoPrv field is required."/>
                    <h:outputLabel value="FechaCreacionPrv:" for="fechaCreacionPrv" />
                    <h:inputText id="fechaCreacionPrv" value="#{proveedorBean.actual.fechaCreacionPrv}" title="FechaCreacionPrv" required="true" requiredMessage="The FechaCreacionPrv field is required.">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="UsuarioCreacionPrv:" for="usuarioCreacionPrv" />
                    <h:inputText id="usuarioCreacionPrv" value="#{proveedorBean.actual.usuarioCreacionPrv}" title="UsuarioCreacionPrv" required="true" requiredMessage="The UsuarioCreacionPrv field is required."/>
                    <h:outputLabel value="FechaModificacionPrv:" for="fechaModificacionPrv" />
                    <h:inputText id="fechaModificacionPrv" value="#{proveedorBean.actual.fechaModificacionPrv}" title="FechaModificacionPrv" required="true" requiredMessage="The FechaModificacionPrv field is required.">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="UsuModificacionPrv:" for="usuModificacionPrv" />
                    <h:inputText id="usuModificacionPrv" value="#{proveedorBean.actual.usuModificacionPrv}" title="UsuModificacionPrv" required="true" requiredMessage="The UsuModificacionPrv field is required."/>
                    <h:outputLabel value="IdMunicipioPrv:" for="idMunicipioPrv" />
                    <h:selectOneMenu id="idMunicipioPrv" value="#{proveedorBean.actual.idMunicipioPrv}" title="IdMunicipioPrv" >
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItems value="#{fixme}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandButton value="Modificar" action="#{ProveedorBean.modificarProveedor()}"/>
            </h:form>
        </f:view>

    </h:body>
</html>

