<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Proveedor</title>
    </h:head>
    <h:body>
        <f:view>
        <h:form>
                <h1><h:outputText value="Lista Proveedor"/></h1>
                <h:dataTable value="#{proveedorBean.items}" var="item">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="IdProveedor"/>
                        </f:facet>
                        <h:outputText value="#{item.idProveedor}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="CodigoPrv"/>
                        </f:facet>
                        <h:outputText value="#{item.codigoPrv}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="NombrePrv"/>
                        </f:facet>
                        <h:outputText value="#{item.nombrePrv}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="DireccionPrv"/>
                        </f:facet>
                        <h:outputText value="#{item.direccionPrv}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="TelefonoPrv"/>
                        </f:facet>
                        <h:outputText value="#{item.telefonoPrv}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="FechaCreacionPrv"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaCreacionPrv}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="UsuarioCreacionPrv"/>
                        </f:facet>
                        <h:outputText value="#{item.usuarioCreacionPrv}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="FechaModificacionPrv"/>
                        </f:facet>
                        <h:outputText value="#{item.fechaModificacionPrv}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="UsuModificacionPrv"/>
                        </f:facet>
                        <h:outputText value="#{item.usuModificacionPrv}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="IdMunicipioPrv"/>
                        </f:facet>
                        <h:outputText value="#{item.idMunicipioPrv}"/>
                    </h:column>
                    <h:column>
                      <f:facet name="header">
                      <h:outputText value=""/>
                       </f:facet>
                       <h:commandLink value="Editar" action="#{ProveedorBean.prepararEdicion(item)}"/>
                    </h:column>
                    <h:column>
 <f:facet name="header">
 <h:outputText value=""/>
 </f:facet>
 <h:commandLink value="Borrar"
 action="#{ProveedorBean.eliminar(item.idProveedor)}"/>
</h:column>
 </h:dataTable>             
  </h:form>
 <h:form>
  <h1><h:outputText value="Crear proveedor"/></h1>
  <h:panelGrid columns="2">
                     <h:outputLabel value="CodigoPrv:" for="codigoPrv" />
                    <h:inputText id="codigoPrv" value="#{ProveedorBean.actual.codigoPrv}" title="CodigoPrv" required="true" requiredMessage="The CodigoPrv field is required."/>
                    <h:outputLabel value="NombrePrv:" for="nombrePrv" />
                    <h:inputText id="nombrePrv" value="#{ProveedorBean.actual.nombrePrv}" title="NombrePrv" required="true" requiredMessage="The NombrePrv field is required."/>
                    <h:outputLabel value="DireccionPrv:" for="direccionPrv" />
                    <h:inputText id="direccionPrv" value="#{ProveedorBean.actual.direccionPrv}" title="DireccionPrv" required="true" requiredMessage="The DireccionPrv field is required."/>
                    <h:outputLabel value="TelefonoPrv:" for="telefonoPrv" />
                    <h:inputText id="telefonoPrv" value="#{ProveedorBean.actual.telefonoPrv}" title="TelefonoPrv" required="true" requiredMessage="The TelefonoPrv field is required."/>
                    <h:outputLabel value="FechaCreacionPrv:" for="fechaCreacionPrv" />
                    <h:inputText id="fechaCreacionPrv" value="#{ProveedorBean.actual.fechaCreacionPrv}" title="FechaCreacionPrv" required="true" requiredMessage="The FechaCreacionPrv field is required.">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="UsuarioCreacionPrv:" for="usuarioCreacionPrv" />
                    <h:inputText id="usuarioCreacionPrv" value="#{ProveedorBean.actual.usuarioCreacionPrv}" title="UsuarioCreacionPrv" required="true" requiredMessage="The UsuarioCreacionPrv field is required."/>
                    <h:outputLabel value="FechaModificacionPrv:" for="fechaModificacionPrv" />
                    <h:inputText id="fechaModificacionPrv" value="#{ProveedorBean.actual.fechaModificacionPrv}" title="FechaModificacionPrv" required="true" requiredMessage="The FechaModificacionPrv field is required.">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="UsuModificacionPrv:" for="usuModificacionPrv" />
                    <h:inputText id="usuModificacionPrv" value="#{proveedorBean.actual.usuModificacionPrv}" title="UsuModificacionPrv" required="true" requiredMessage="The UsuModificacionPrv field is required."/>
                         <h:selectOneMenu id="idMunicipioPrv" value="#{ProveedorBean.actual.idMunicipioPrv}" title="IdMunicipioPrv" >
                        <!-- TODO: update below reference to list of available items-->
                        <f:selectItems value="#{fixme}"/>
                    </h:selectOneMenu>
                    <h:commandButton value="Agregar" action="#{ProveedorBean.crearProveedor}"/>
                    
                </h:panelGrid>
            </h:form>

        </f:view>
    </h:body>
</html>