<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Editar Pais</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="IdPais:" for="idPais" />
                    <h:inputText id="idPais" value="#{paisBean.actual.idPais}" title="IdPais" required="true" requiredMessage="The IdPais field is required."/>
                    <h:outputLabel value="NombrePais:" for="nombrePais" />
                    <h:inputText id="nombrePais" value="#{paisBean.actual.nombrePais}" title="NombrePais" required="true" requiredMessage="The NombrePais field is required."/>
               <h:outputText value=""/>
               <h:commandButton value="Modificar" action="#{paisBean.modificarPais()}"/>
                </h:panelGrid>
            </h:form>
        </f:view>

    </h:body>
</html>

