<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Pais</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Lista de Paises"/></h1>
                <h:dataTable value="#{paisBean.items}" var="item">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="IdPais"/>
                        </f:facet>
                        <h:outputText value="#{item.idPais}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="NombrePais"/>
                        </f:facet>
                        <h:outputText value="#{item.nombrePais}"/>
                    </h:column>
                    <h:column>
 <f:facet name="header">
 <h:outputText value=""/>
 </f:facet>
 <h:commandLink value="Editar" action="#{paisBean.prepararEdicion(item)}"/>
</h:column> 
</h:dataTable>
  </h:form> 


            <h:form>
                <h1><h:outputText value="Create Pais "/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Id:" for="idPais" />
                    <h:inputText id="idPais" value="#{paisBean.actual.idPais}" title="IdPais" required="true" requiredMessage="The IdPais field is required."/>
                    <h:outputLabel value="Nombre del Pais:" for="nombrePais" />
                    <h:inputText id="nombrePais" value="#{paisBean.actual.nombrePais}" title="NombrePais" required="true" requiredMessage="The NombrePais field is required."/>
                    <h:commandButton value="Agregar" action="#{paisBean.crearPais()}"/>
                </h:panelGrid>
            </h:form>

        </f:view>

    </h:body>
</html>

